extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Writing Guides
      p.subheadline
        | Learn the best way to communicate with users in a clear and consistent way.
    hr
    .writing-mosaic
      img.img-fluid(src='/images/dashboard-writing/writing-splash.svg', alt='Writing guides main graphic')
    .row
      .col-sm-4.margin-bottom-m
        a.card.card-horizontal.clickable(href='writing/brand-voice')
          .card-content
            header
              h4
                | Brand voice
              p
                | Who we are is perceived in how we write: expert, adaptive, etc.
              br
            div
              img(src='/images/dashboard-writing/microphone.svg', alt='Brand voice icon')
          span.card-icon
            i.eos-icons.eos-18
              | library_books
          footer
            p
              | Read more
      .col-sm-4.margin-bottom-m
        a.card.card-horizontal.clickable(href='writing/brand-tone')
          .card-content
            header
              h4
                | Brand tone
              p
                | Our writing changes its tone according to different scenarios: success, error, etc.
            div
              img(src='/images/dashboard-writing/volumen.svg', alt='Brand tone icon')
          span.card-icon
            i.eos-icons.eos-18
              | library_books
          footer
            | Read more
      .col-sm-4.margin-bottom-m
        a.card.card-horizontal.clickable(href='writing/ux-writing')
          .card-content
            header
              h4
                | UX writing
              p
                | Every person writes in their own way. As a brand we should write consistently as well.
            div
              img(src='/images/dashboard-writing/pencil.svg', alt='UX Writing icon')
          span.card-icon
            i.eos-icons.eos-18
              | library_books
          footer
            | Read more
    hr
    article
      h3.anchor
        a#conventions-rules(href='#conventions-rules')
          i.eos-icons.eos-18
            | link
        | Conventions and rules
      p
        | In addition to learning about how to express our voice and tone
        | through proper UX writing, it is also important that we follow
        | certain #[a(href='/writing/conventions-and-rules', data-event-category='Internal link', data-event-action='conventions and rules', data-event-label='Writing Guides') conventions and rules]
        | in order for our writing to be seen as coming from a single entity.
      p
        | You'll find information such as capitialization rules for titles and
        | text as well as general conventions for punctuation.
