li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout')
    i.eos-icons.eos-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/0b9ecdd9-535a-449d-8d43-9640a57d732a-5ecd/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/main-layout/layout.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='/examples/demo-layout.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Demo page
li
  .dropdown-item
    strong
      | Dark theme assets
li
  a.dropdown-item(href='https://xd.adobe.com/view/32e745c8-0efc-402b-bf4b-7564fa28ef4a-67b4/', data-event-category='Dropdown link', data-event-action='Dark theme layout specs', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/main-layout/layout-dark-theme.xd', data-event-category='Dropdown link', data-event-action='Dark theme layout XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Adobe XD file
li
  a.dropdown-item(href='/examples/demo-layout-dark-theme.html', data-event-category='Dropdown link', data-event-action='Dark theme demo page', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Demo page
