/* Toggle component
   ========================================================================== */

.custom-switch {
  padding-left: $eos-toggle-switch-padding-left;

  .custom-control-label {
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
  }

  .custom-control-label::before {
    background-color: $eos-form-element-color;
    border-radius: $eos-toggle-border-radius;
    content: '';
    display: block;
    height: $eos-toggle-height;
    left: $eos-toggle-left;
    pointer-events: all;
    position: absolute;
    top: $eos-toggle-top;
    width: $eos-toggle-width;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    background-color: $eos-form-element-color;
    box-shadow: 0px 0px 3px $eos-radio-btn-focus;
  }

  .custom-control-label::after {
    background-color: $eos-toggle-circle-bg;
    border-radius: 50%;
    height: $eos-toggle-circle-height;
    left: $eos-toggle-circle-left;
    top: $eos-toggle-circle-top;
    transition: background-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    width: $eos-toggle-circle-width;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $eos-form-element-approved;
    color: $eos-toggle-circle-bg;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    -webkit-transform: translateX($eos-toggle-height);
    background-color: $eos-toggle-circle-bg;
    transform: translateX($eos-toggle-height);
  }

  .custom-control-input:checked:disabled ~ .custom-control-label::before {
    background-color: $eos-toggle-selected-disabled;
  }
}
