ul.footer-list
  li.footer-list-item
    a.footer-link(href='/cookies-policy', data-event-category='Internal link', data-event-action='Cookies policy', data-event-label='Footer')
      | Cookie policy
  include ./changelog-content.pug
  li.footer-list-item
    a.footer-link(href='https://www.suse.com/', data-event-category='External link', data-event-action='Link SUSE website', data-event-label='Footer', target='_blank', rel='noreferrer nonopener')
      img.js-tooltip(src='/images/suse-logo-footer.svg', data-toggle='tooltip', data-html='true', title='Visit the SUSE website', alt='SUSE logotype')
