/* Tables variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacing.scss */
/* Typography variables: /assets/stylesheets/eos-base/variables/typography.scss */

$table-td-border: $eos-bc-gray-50;
$table-th-border-b: $eos-bc-gray-100;
$table-th-color: $eos-bc-gray-500;
// table cell vertical & horizontal paddings
$table-cell-v-p: 16px;
$table-cell-h-p: 8px;
$table-actions-link: $eos-bc-gray-700;
$table-form-group-h: 18px;
$table-dark-text: $eos-bc-white;
$table-dark-bg: $eos-bc-gray-1000;
$table-card-bg: $eos-bc-white;
