/* Cookies banner dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/do-dont/dark-theme.variables.scss */
.dark-theme {
  .do-dont-container {
    color: $eos-do-dont-dark-theme-text;
  }
}
