/* Mixins
   ========================================================================== */
@mixin img-eos($eos-size) {
  height: $eos-size;
  width: $eos-size;
}

/* Margin rules */
$eos-sizes-collection: (
  m: $eos-m,
  xs: $eos-xs,
  s: $eos-s,
  l: $eos-l,
  xl: $eos-xl,
  xxl: $eos-xxl,
  xxxl: $eos-xxxl
);

@mixin margins($eos-direction) {
  @each $eos-key, $eos-value in $eos-sizes-collection {
    .margin-#{$eos-direction}-#{$eos-key} {
      margin-#{$eos-direction}: $eos-value;
    }
  }
}

/* Padding rules */
@mixin paddings($eos-direction) {
  @each $eos-key, $eos-value in $eos-sizes-collection {
    .padding-#{$eos-direction}-#{$eos-key} {
      padding-#{$eos-direction}: $eos-value;
    }
  }
}
