.dark-theme {
  .main-menu {
    background: $eos-dark-main-menu-background;

    header {
      background: $eos-dark-main-menu-background;
    }

    .menu-title {
      color: $eos-dark-main-menu-color;
    }

    hr {
      border-top-color: $eos-dark-main-menu-border;
    }

    .menu-togglable .menu-dropdown-list {
      background: $eos-dark-main-menu-background;

      li a {
        color: $eos-dark-main-menu-color;

        &:hover {
          background: transparent;
          color: $eos-dark-main-menu-color-hover;
        }
      }
    }

    .menu-dropdown input[type='checkbox']:checked ~ .menu-title,
    .menu-dropdown.selected ~ .menu-title {
      background: $eos-dark-main-menu-background;
      color: $eos-dark-main-menu-color;
    }

    footer.footer-side-menu {
      background-color: $eos-dark-main-menu-background;
      border-top: 1px solid $eos-dark-main-menu-border;
    }
  }

  .mobile-menu {
    header {
      background: $eos-dark-mobile-header-background;
    }

    nav {
      background-color: $eos-dark-main-menu-background;

      hr {
        border-top-color: $eos-dark-main-menu-border;
      }

      .menu-togglable {
        .menu-dropdown-list {
          background: $eos-dark-main-menu-background;
        }

        li .menu-title {
          color: $eos-dark-main-menu-color;
        }
      }

      .menu-dropdown input[type='checkbox']:checked ~ .menu-title,
      .menu-dropdown.selected ~ .menu-title {
        background-color: $eos-dark-main-menu-background;
        color: $eos-dark-main-menu-color;
      }
    }
  }
}
