li
  a.dropdown-item(href='https://xd.adobe.com/view/57c047c4-940b-4d93-b20b-5fb6b4af69dd-0293/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://xd.adobe.com/view/6f7387f9-755b-4cdd-8045-afd99d159a08-3a20/', data-event-category='Dropdown link', data-event-action='Specifications for third party sign in', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications for third party sign in
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Sign-in/sign-in.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false')
    i.eos-icons.eos-18
      | image
    | Download background image
li
  a.dropdown-item(href='/examples/demo-sign-in.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Demo page
li
  .dropdown-item
    strong
      | Dark theme assets
li
  a.dropdown-item(href='https://xd.adobe.com/view/058cd5de-223f-42b5-a10d-2a437e9b11d5-50df/', data-event-category='Dropdown link', data-event-action='Dark theme layout specs', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://xd.adobe.com/view/e0ea5df0-95cc-4828-9bf1-7356f306bb94-b5b9/', data-event-category='Dropdown link', data-event-action='Specifications for third party sign in', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications for third party sign in
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Sign-in/sign-in-dark-theme.xd', data-event-category='Dropdown link', data-event-action='Dark theme layout XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false')
    i.eos-icons.eos-18
      | image
    | Download background image
li
  a.dropdown-item(href='/examples/demo-sign-in-dark-theme.html', data-event-category='Dropdown link', data-event-action='Dark theme demo page', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Demo page
