/* Logo icons set
   ========================================================================== */
.logo-icon-set-utility {
  .icons-btn-group a {
    color: $eos-logo-icons-btn-color;
    margin-left: 0;

    .eos-icons {
      color: $eos-logo-icons-btn-color;
      margin-right: $eos-logo-icons-margin-right;
    }
  }
}

.logo-icons-set-section-margin {
  margin-top: $eos-logo-icons-section-margin;
}
