/* Coming next Variables
========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */

$eos-coming-next-margin-top: $eos-xxxl;
$eos-coming-next-border-bottom: 1px solid $eos-bc-gray-50;
$eos-coming-next-h3-margin-bottom: $eos-m;
