/* Custom modal-box
   ========================================================================== */
/* Color variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-custom-modal-header-padding: 0.5rem;
$eos-custom-modal-h2-font-size: 28px;
$eos-custom-modal-h2-color: $eos-bc-green-500;
$eos-custom-modal-p-font-size: 18px;
$eos-custom-modal-h2-margins-bottom: 80px;
$eos-custom-modal-body-padding: $eos-m 0 $eos-xxl;
$eos-custom-modal-close-button-color: $eos-bc-white;
$eos-custom-modal-cta-button-borders: 50px;
$eos-custom-modal-content-background: url('../images/components/modal/dots-bg.svg');
$eos-custom-modal-content-bg-color: $eos-bc-pine-500;
$eos-custom-modal-content-color: $eos-bc-white;
$eos-custom-modal-description-col-padding: $eos-xxl;
$eos-custom-modal-font-family: $eos-font-type-headlines;
$eos-custom-modal-right-illustration: url('../images/components/modal/rocket.svg');
$eos-custom-modal-btn-color: $eos-bc-pine-500;
$eos-custom-modal-margin-bottom: $eos-xl;
