.feedback-tool {
  background: $eos-ft-card-bg;
  display: none;
  height: auto;
  left: $eos-ft-left;
  position: fixed;
  top: $eos-ft-top;
  transition: all 30ms ease-in-out;
  width: $eos-ft-width;
  z-index: $eos-ft;

  .feedback-tool-card-content {
    border-radius: 0 0 $eos-ft-border-radius $eos-ft-border-radius;
    padding: $eos-ft-card-content-padding;

    input[type='checkbox'] {
      margin-right: $eos-ft-checkbox-margin-right;
      width: auto;
    }
  }
  @media screen and (max-width: $eos-sd-min) {
    left: $eos-ft-left-sd;
  }

  @media screen and (min-width: $eos-sd-min) and (max-width: $eos-sd-max) {
    left: $eos-ft-left-md;
  }

  &-card-header {
    align-items: center;
    background-color: $eos-ft-card-header-background;
    border-radius: $eos-ft-border-radius $eos-ft-border-radius 0 0;
    color: $eos-ft-card-header-color;
    display: flex;
    justify-content: space-between;
    padding: $eos-ft-card-header-padding;
  }

  .feedback-tool-actions {
    i {
      &:hover {
        cursor: pointer;
      }

      &:nth-child(2) {
        margin-right: 0;
        text-align: center;
      }
    }
  }

  .card-content {
    p {
      margin: 0;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  textarea {
    border-color: $eos-ft-text-area-border-color;
    font-size: $eos-feedback-content-font-size;
    margin-top: $eos-ft-text-area-margin-top;
    resize: none;
    width: 100%;
  }

  .message-length {
    color: $eos-ft-card-message-length-color;
    font-size: $eos-ft-card-message-length;
  }

  &-screenshoot {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: $eos-feedback-content-margin-top;

    p {
      margin-left: $eos-ft-screenshoot-p-margin-left;
      margin-top: 0;
    }

    input {
      margin: $eos-ft-screenshoot-input-margin;
    }
  }

  &-attached-screenshoot {
    background-color: $eos-bc-pine-500;
    border-radius: $eos-ft-attached-screenshoot-border-radius;
    color: $eos-ft-attached-screenshoot-color;
    display: flex;
    font-size: $eos-feedback-content-font-size;
    justify-content: center;
    margin-top: $eos-feedback-content-margin-top;
    padding: $eos-ft-attached-screenshoot-padding;
  }

  &-steps {
    display: flex;
    justify-content: flex-end;
    margin-top: $eos-feedback-content-margin-top;
  }

  /* Success page */
  &-success {
    &.card-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: $eos-ft-card-content-padding;
    }

    p {
      font-size: $eos-feedback-content-font-size;
      padding: $eos-ft-success-p-padding 0;
      text-align: center;
    }

    img {
      width: $eos-ft-success-img-width;
    }

    button {
      margin-top: $eos-feedback-content-margin-top;
    }
  }
}

/* Left button */
.feedback-tool-button {
  align-items: center;
  background-color: $eos-ft-button-background;
  border: 0;
  border-radius: $eos-ft-border-radius $eos-ft-border-radius 0 0;
  color: $eos-ft-button-color;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: $eos-ft-button-size;
  position: fixed;
  right: $eos-ft-button-right;
  top: $eos-ft-button-top;
  transform: rotate(-90deg);

  i {
    margin: 0;
  }
}

.disable-text-selection {
  user-select: none;
}
