block password-recovery-email
  .sign-in-form
    h1
      | Recover password
    p.margin-top-xl
      | We have e-mailed you a password reset link.
    a(href='demo-recover-password-dark-theme.html')
      | Reset password
