/* Usage example component variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-usage-example-max-width: 400px;
$eos-usage-example-p-size: $eos-l - 4;
$eos-usage-example-margin-top: $eos-m;
$eos-usage-example-title-p-margin-top: $eos-s;
$eos-usage-example-wrap-p-padding: $eos-m;
$eos-usage-example-wrap-span-margin-left: $eos-xs;
