/* Gallery modal
   ========================================================================== */
.modal-backdrop {
  background: $modal-backdrop-bg;

  &.show {
    opacity: $modal-backdrop-opacity;
  }
}

.modal-gallery {
  max-width: $modal-gallery-max-width;

  .modal-body {
    -ms-overflow-style: none; // hide scrollbar but keep functionality IE
    height: $modal-gallery-height;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    scrollbar-width: none; // sass-lint:disable-line no-misspelled-properties

    // hide scrollbar but keep functionality Chrome
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .modal-content {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $modal-gallery-content;
  }

  .modal-header {
    border: 0;
    border-radius: 0;
    padding: 0;

    .close {
      opacity: 1;
      text-shadow: none;
    }
  }

  .modal-gallery-img {
    margin-bottom: $modal-gallery-img-margin;
    width: $modal-gallery-img-width;
  }
}
